@import "./../../style/variables";

.schedule__item--lesson {
  --card-color: #{$blue};
  color: white;
}

.schedule__item--lab,
.schedule__item--exercise {
  --card-color: #{$green};
  color: white;
}

.schedule__item--review {
  --card-color: #{$purple};
  color: white;
}

.schedule__item--null {
  --card-color: #{$yellow};
  color: white;
}

@mixin uppercase () {
  text-transform: uppercase;
  letter-spacing: 1 / 2 / 16 * 1em;
}

.topic__list {
  display: flex;
  margin-top: -1rem;
  font-size: 0.75em;
  text-transform: uppercase;
  @include uppercase;
}

$card-default-shadow-color: hsla(0, 0, 20%, 0.15);

.topic__item {
  padding: 0 0.5em;
  background-color: white;
  color: var(--card-color, inherit);
  box-shadow: 0 0.125em 1em -0.25em $card-default-shadow-color;
  &:not(:last-child) {
    margin-right: 0.5em;
  }
}

.attachment__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // .attachment__item {
  //   &:first-child {
  //     margin-left: auto;
  //   }
  // }
}

.attachment__item {
  display: flex;
  align-items: center;
  .icon {
    margin-left: 0.5em;
  }
}

.schedule__navigator {
  display: flex;
  align-items: center;
  margin: 0 auto;
  a {
    padding: 1em;
    font-size: 1.25em;
  }
}
