// $card-background: #efefef;
$card-background: #fff;

$meetup-color: hsl(342, 100%, 50%);
// $meetup-color: hsl(350, 100%, 55%);
// $meetup-color: #f13a59;

.event__item--meetup {
  --card-color: #{$meetup-color};
  color: white;
}
