@import "./../../../style/variables";

.schedule__item--lesson {
  --card-color: #{$blue};
  color: white;
}

.schedule__item--lab,
.schedule__item--exercise {
  --card-color: #{$green};
  color: white;
}

.schedule__item--review {
  --card-color: #{$purple};
  color: white;
}

.schedule__item--null {
  --card-color: #{$yellow};
  color: white;
}

@mixin uppercase () {
  text-transform: uppercase;
  letter-spacing: 1 / 2 / 16 * 1em;
}

.topic__list {
  display: flex;
  margin-top: -1rem;
  font-size: 0.75em;
  text-transform: uppercase;
  @include uppercase;
}

.topic__item {
  background-color: white;
  padding: 0 0.5em;
  color: var(--card-color, inherit);
}

.attachment__list {
  display: flex;
  .attachment__item {
    &:first-child {
      margin-left: auto;
    }
  }
}

.attachment__item {
  // text-align: right;
  // display: flex;
  justify-self: flex-end;
  display: flex;
}