// $card-background: #efefef;
$card-background: #fff;

$green: rgb(100, 204, 40);
$blue: hsl(200, 75%, 50%);
$yellow: hsl(47, 100%, 50%);
$purple: hsl(263, 100%, 50%);

.schedule__item {
  padding: 1em;
  padding: 0.75em 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  // border-radius: 0.25em;
  background-color: $card-background;
  background-color: var(--card-color, $card-background);
  // box-shadow: 0 0.25em 0.5em 0 hsla(200, 20%, 50%, 0.15);
  box-shadow: 0 0.125em 1em -0.25em var(--card-color, hsla(0, 0, 20%, 0.15));
  display: flex;
  flex-direction: column;
}

.schedule__item--lesson {
  --card-color: #{$blue};
  color: white;
}

.schedule__item--lab,
.schedule__item--exercise {
  --card-color: #{$green};
  color: white;
}

.schedule__item--review {
  --card-color: #{$purple};
  color: white;
}

.schedule__item--null {
  --card-color: #{$yellow};
  color: white;
}

.topic__list {
  display: flex;
  // margin-top: -1em;
  font-size: 0.75em;
}

.topic__item {
  background-color: white;
  padding: 0 0.5em;
  color: var(--card-color, inherit);
}

.attachment__item {
  text-align: right;
}