.app__footer {
  .container {
    flex-direction: row;
    align-items: center;
  }
  small,
  a {
    display: block;
    padding: 1em 0;
    margin-right: 2em;
  }
  small {
    margin-left: auto;
  }
  .shell > & {
    margin-top: auto;
  }
}
